<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Application Form</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body>
    <h1>Application Form</h1>
    <form th:action="@{/apply}" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">


        <label for="email">Email:</label>
        <input type="email" id="email" name="email">


        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone">


        <label for="message">Message:</label>
        <textarea id="message" name="message"></textarea>


        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option th:each="gender : ${genders}" th:value="${gender}" th:text="${gender}"></option>
        </select>


        <label for="dateOfBirth">Date of Birth:</label>
        <input type="date" id="dateOfBirth" name="dateOfBirth">


        <label for="birthPlaceIndia">Birth Place India:</label>
        <input type="checkbox" id="birthPlaceIndia" name="birthPlaceIndia">


        <input type="submit" value="Submit">
    </form>

</body>
</html>
